.header {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #ffffff;
	text-align: center;

	min-height: 330px;
	background-image: url("../img/header_big.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: lightgrey;
}

.header__heading {
	font-size: 54px;
}

.header__text {
	font-size: 40px;
}





@media only screen and (min-width: 768px)  { 
	.header__heading {
	font-size: 62px;
	}

	.header__text {
	font-size: 48px;
	}

}